.container {
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-around; */
    align-items: center;
	background-color: rgb(23, 22, 22)	;
	height: 420px;
}

/* .grid {
	position: relative;
	max-height: 420px;
	border: 1px solid black;
	display: flex;
	overflow-x: auto
}

.grid::-webkit-scrollbar{
	width: 0;
}

.grid .figure {
	line-height: 410px;
	margin-right: 2px;
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	width: 360px;
	height: 410px;
	text-align: center;
	cursor: pointer; 
}*/

.imgProject {
    position: relative;
}

.spanText   {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
}

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	/* padding: 1em 0 4em; */
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	max-height: 420px;
	height: 420px;
	list-style: none;
	text-align: center;
}

.grid figure {
	margin: 0;
	position: relative;
	float: left;
	overflow: hidden;
	/* margin: 10px 1%; */
	min-width: 320px;
	width: 360px;
	height: 420px;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 0.1em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Ming *****/
/*---------------*/

figure.effect_ming {
	background: #030c17;
}

figure.effect_ming:hover img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect_ming figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.effect_ming h2 {
	margin: 40% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect_ming p {
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.effect_ming:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.effect_ming:hover figcaption::before,
figure.effect_ming:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.effect_ming:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect_ming:hover img {
	opacity: 0.4;
}