.container {
    background-color: #F2F1EF;
    min-height: 390px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items : center;
}

.subtitle {
    font-style: italic;
}

.h3 {
    margin: 0;
}

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 80px;
    gap: 16px;
}

.right {
    width: 25%;
    margin-right: 80px;
}

.btnResume {
    width: 186px;
    height: 56px;
    border-radius: 10px;
    background-color: #0EE8E2;
    border: none;
    font-weight: 700;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
    transition: 0.5s all ease;
}

.btnResume:hover {
    background-color: #25a09c;
    color: #F2F1EF;
    transition: 0.5s all ease;
}

@media screen and (max-width: 920px) {
    .container {
        flex-direction: column-reverse;
    }
    .left {
        width: 75%;
        margin-left: 10px;
    }
    
    .right {
        width: auto;
        margin-right: 10px;
    }
}