.mainContact {
    display: flex;
    height: 515px;
    background-color: #F2F1EF;
    font-family: 'Poppins', sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: auto;
}

.inputText, select {
    border: 1px solid #A0A5A9;
    width: 452px;
    height: 48px;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    outline: none;
    text-transform: uppercase;
}

.inputText:focus, .inputText:active {
    outline: none;
}

.select {
    width: 455px !important;
}

.btnEnviar {
    border: 1px solid #A0A5A9;
    width: 153px;
    height: 48px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--back-gray);
    color: var(--main-color);
    font-weight: 500;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
