.floating_button {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.listItems {
  display: none;
  position: absolute;
  transform: translateY(-90%) translateX(-80%);
  list-style: none;
  padding: 0;
  margin: 0;
}

.liFloat {
  margin-block: 24px;
  letter-spacing: 5px;
  color: whitesmoke;
  background-color: gray;
  backdrop-filter: opacity(0.5);
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px 8px;
}

.liFloat:hover {
  font-weight: 400;
  background-color: black;
}

.floating_button:hover > .listItems {
  display: block;
}

.imgWA {
  width: 60px;
  height: 60px;
  transition: 0.5s all ease;
}

.imgWA:hover {
  scale: 1.1;
}

.floating_button_top {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 1px 1px 10px gray;
  width: 57px;
  height: 57px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1;
}

.imgTop {
  width: 35px;
  height: 35px;
}

.imgTop:hover {
  opacity: 0.5;
}

.linkTo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px 1.75rem;
  color: white;
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s all ease;
  text-decoration: none;
  color: var(--main-color);
  background-color: var(--back-gray);
}
.linkTo:hover {
  transition: 0.5s all ease;
}

@media screen and (max-width: 500px) {
  .floating_button_top {
    visibility: visible !important;
  }
  /* .floating_button {
    top: 45px;
  }

  .listItems {
    transform: translateX(-80%);
  } */
}