.container {
    background-color: black;
    color: white;
    height: 38px;
    display: flex;
    align-content: center;
    font-size: 12px;
    justify-content: space-around;
}

.Icons {
    font-size: "12px";
    align-self:"center";
}

.logoContainer{
    display: none;
  }

.primary{
color: var(--main-color);
font-size: 12px;
}

.location, .phone, .social{
    align-self: center;
    display: flex;
}

.social{
    display: flex;
    gap: 20px;
    min-height: 32px;
    align-items: center;
  }
  
  .social > a {
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  .social > a > svg {
    height: 1.2em;
    width: 1.2em;
    color: whitesmoke;
    transition: 0.2s all ease-in;
  }
  .social > a:hover {
    background-color: transparent;
  }
  
  .social > a:hover > svg {
    color: var(--main-color);
    scale: 1.1;
    background-color: transparent;
  }

@media  (min-width: 960px) and (max-width: 1140px){
    .logoContainer {
        font-size: 12px;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        font-family: sans-serif;
        font-weight: 700;
    }
  }

@media screen and (max-width: 960px) {
    .container {
        justify-content: center;
        gap: 20px;
    }
    .location span, .phone span, .social span {
        display: none;
    }
}