@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Poppins', sans-serif;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #0edbcd #3d3d3d;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  *::-webkit-scrollbar-track,
  *::-webkit-scrollbar-track:horizontal {
    background: #3d3d3d;
    width: 10px;
  }

  *::-webkit-scrollbar-thumb,
  *::-webkit-scrollbar-thumb:horizontal {
    background-color: #0edbcd;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
  }

