@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');

:root{
  --main-color: #00C2CB;
  --back-gray: #454748;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: aliceblue;
}

/* #root {
  display: flex;
  justify-content: center;
} */
code {
  font-family: 'Poppins', sans-serif;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #00C2CB #3d3d3d;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  *::-webkit-scrollbar-track,
  *::-webkit-scrollbar-track:horizontal {
    background: #3d3d3d;
    width: 10px;
  }

  *::-webkit-scrollbar-thumb,
  *::-webkit-scrollbar-thumb:horizontal {
    background-color: #00C2CB;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
  }

/* PLACEHOLDER */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #b1b1b1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #b1b1b1;
 opacity: 1 /* esto es porque Firefox le reduce la opacidad por defecto */;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #b1b1b1;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #b1b1b1;
}
